<h1> WELCOME TO YOUR GAME MWAHAHAHAH </h1>
<br>
<br>
<br>
<br>
<table>
<%(0..7).reverse_each do |position_row|%>
  <tr class= 'position_row'>
    <%(0..7).each do |position_column|%>
      <td class= 'position_column' data-x-position'<%=position_column%>' data-y-position'<%=position_row%>'>
        <div class='chess_pieces'>
          <%piece = @game.data_method[position_column][position_row]%>

        <% if piece == @piece %>
            <div class='highlighted'>
              <%=piece.symbol.html_safe%>
            </div>
        <% elsif piece.present? %>
          <%=piece.symbol.html_safe%>
        </div>
        <% else %>
          <%= link_to piece_path(@piece, params: { x_coord: position_column, y_coord: position_row }),  method: "put" do %>
            <div class = "empty_space">
            </div>
          <% end %>
        <% end %>
        
      </td>
    <% end %>
  </tr>
<% end %>
<table>