<h1> WELCOME TO YOUR GAME MWAHAHAHAH </h1>
<br>
<br>

<div class="col-12 text-center">
  <% if @game.black_player_id == nil %>
    <%= link_to 'Join', game_path, method: :put, class: 'btn btn-primary btn-large' %>
  <% end %>
</div>

<br>
<br>

<table>
<%(0..7).each do |position_row|%>
  <tr class= 'position_row'>

    <%(0..7).each do |position_column|%>
      <td class= 'position_column' data-x-position'<%=position_column%>' data-y-position'<%=position_row%>'>  
         <%pieces = @game.pieces%>
         <%=piece.symbol.html_safe%>
         <% end %>
      </td>
    <% end %>
  </tr>
<%end %>
<table>

<%pieces = @game.pieces%>
<%pieces.each do |piece| %>
<%=piece.symbol.html_safe%>
<%=piece.position_column%>
<%=piece.position_row%>
<% end %>


<table>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>