<script>

function init() {

  turn = '<%= @game.turn %>';
  white = '<%= @game.white_player_id %>';
  black = '<%= @game.black_player_id %>';

  if (turn == white){
    $('#black a').draggable({disabled: true});
  }
  else {
    $('#white a').draggable({disabled: true});
  };

  $('a').draggable({
    containment: 'table',
    scroll: false,
    start: function( event, ui) {
      $.ajaxSetup({ cache: false });
      href = this.href;      
    },
    drag: function( event, ui ) {
      xCoord = $('.ui-droppable-hover').data('x-position');
      yCoord = $('.ui-droppable-hover').data('y-position');
    },
    stop: function( event,ui ) {
        $.ajax({
          type: "PUT",
          url: href,
          data: {
            x_coord: xCoord, 
            y_coord: yCoord
          },
          success: function (response) {
            alert("Valid Move!");
          },
          error: function (request, status, error) {
            alert(request.responseText);
          }
        });
    }
  });

  $('tr td').droppable({
    greedy: true
  });
};

$( init );
$(document).ajaxStop(function(){
  window.location.reload();
})
</script>
<div class = "boom-box col-10 offset-1"
  <br>
  <h1> WELCOME TO YOUR GAME MWAHAHAHAH </h1>
  <br>
  <% if @game.check?.first %>
    <div class= "alert col-8 offset-2">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <h1> <%= @game.check?.first %> is in check! </h1>
    </div>
  <% end %> 

  <% if @game.turn == @game.white_player_id %>
  <h1>Current player turn: white</h1>
  <% else %>
  <h1>Current player turn: black</h1>
  <% end %>
</div>
<table>
<%(0..7).reverse_each do |position_row|%>
  <tr class= 'position_row'>
    <%(0..7).each do |position_column|%>
      <td class= 'position_column' data-x-position='<%=position_column%>' data-y-position='<%=position_row%>'>
        <div class='chess_pieces'>
          <%piece = @game.data_method[position_column][position_row]%>
          <div id='<%= piece.color if piece.present?%>'>
          <%=link_to piece.symbol.html_safe, piece_path(piece), onclick: 'return false' if piece.present?%>
          </div>
        </div>
      </td>
    <% end %>
  </tr>
<% end %>
<table>
<div class="col-12 text-center">
  <% if @game.black_player_id == nil && @game.white_player_id != current_user.id %>
    <%= link_to 'Join', game_path, method: :put, class: 'btn btn-primary btn-large' %>
  <% end %>
</div>