<!DOCTYPE html>
<html>
  <head>
    <title>MightyPawn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <div id="flex-content-container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <%= link_to 'The Mighty Pawn', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class = "float-right navbar-nav">
          <% if user_signed_in? %>
            <li class = "nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class = "nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class = "nav-item">
              <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %> 
        </ul>
      </div>
    </nav>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>
  </body>
</html>
